doctype html
html
  head
    title Not found
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='text-align: center')
    h3 404
    h3 File or directory not found
    h3(style='border-bottom: 1px solid #00000')
    p node.js server
